# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: sql11.freemysqlhosting.net
    database_port: 3306
    database_name: sql11232001
    database_user: sql11232001
    database_password: 57HktF2fze
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ghandrisemh
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: 957fb625c20102a1c6126c82d8a2e70662a08d9d
    LDAP_host: 192.168.56.102
    LDAP_baseDn: ou=People,dc=localhost
    Port: 389